.t{
    background-color: rgb(160, 233, 167);
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}
hr{
    
    color: white;
    height: 3px;
    background-color: white;
    font-weight: 900px;
}
li:hover{
    
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 5px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    
}
li a:hover{
    color: rgb(255, 255, 255);
}